{% extends 'basic.html' %}
{% block head %}
    <title>
        Course View 
    </title>
{% endblock %}

{% block body %}
    <div class="container" style="border: 1px solid gray;padding: 5px;border-radius:10px;">
        <center class="h1"> 
            List of all Courses you Registered
        </center>
        <table class="table"> 

            <thead class="table-dark"> 
                <tr> 
                    <th scope="col">#</th> 
                    <th scope="col">Course Name</th>
                    <th scope="col">Date of Registration</th> 
                    <th scope="col">Link</th>
                </tr> 
            </thead> 

            <tbody> 
                {% for course in course_data %}
                    <tr>
                        <th scope="row"> 
                            {{ 1 }}
                        </th> 
                        <td> 
                            {{ course.course_name }}
                        </td> 
                        <td> 
                            {{ course.uploaded_at }}
                        </td> 
                        <td> 
                            <a href="/course/courseview/{{ course.course_id }}">view</a>
                        </td>
                    </tr> 

                {% endfor %}
            </tbody> 
        </table> 
    </div> 
{% endblock %}