{% extends 'course.basic.html' %}
{% block head %}
    <title> 
        {{ request.user.profile.firstname }} | View
    </title> 
{% endblock %}


{% block body %}
    {% if student_view %}
        {% if student_enrolled %}
            <div class="alert alert-success"> 
                <p> 
                    Hii {{ request.user.profile.firstname }} You are Enrolled in this course. 
                </p> 
            </div> 
        {% else %}
            <div class="container" > 
                <p class="h4"> Enroll : <a href="/course/enroll/{{ course_model.course_id }}"><button class="btn btn-dark" style="margin:5px;">Enroll</button></a> </p> 
            </div> 
        {% endif %}
    {% endif %}

    {% comment %} 
        Course Details. 
    {% endcomment %}
    <br/> 
    <br/>
    <div class="container" style="border: 1px solid gray;padding: 5px;border-radius:5px;"> 
        <table class="table"> 
            <thead class="table-dark"> 
                <th scope="col"> 
                    course name
                </th> 
                
                <th scope="col"> 
                    subject name
                </th> 

                <th scope="col"> 
                    registered on
                </th> 

                <th scopre="col"> 
                    registered by     
                </th> 

        </thead> 

        <tbody> 
            <tr> 
                <td> 
                    {{ course_model.course_name }}
                </td> 
                <td> 
                    {{ course_data_object.get_subject_name }}
                </td> 
                <td> 
                    {{ course_model.uploaded_at }}
                </td> 
                <td> 
                    <u>under construction<u>
                </td> 
            </tr> 
        </tbody> 

        </table> 
    </div> 

    <div class="container"> 
        <hr/>
    </div> 

    {% comment %} 
        for course pre requireds. 
    {% endcomment %}
    <div class="container"> 
        <p class="h4 text-capitalize"> 
            subject prerequisites
        </p> 
        <ul> 
            {% for pre in course_data_object.get_course_pre_request %}
                <li> 
                    <p class="h6">{{ pre }}</p>
                </li> 
            {% endfor %}
        </ul> 
    </div> 
    
    <div class="container"> 
        <hr/>
    </div> 

    {% comment %} 
        course outcomes
    {% endcomment %}

    <div class="container"> 
        <p class="h4 text-capitalize"> 
            subject outcomes
        </p> 
        <ul> 
            {% for outcomes in course_data_object.get_course_outcomes %}
                <li> 
                    <p class="h6">{{ outcomes }}</p>
                </li> 
            {% endfor %}
        </ul> 
    </div> 
    
    <div class="container"> 
        <hr/>
    </div> 

    {% comment %}  
        Show path Here. 
    {% endcomment %}

    <div class="container"> 
        <p class="h3"> 
            {{ course_model.course_name }} Path
        </p> 
    </div> 
    {% for unit in course_data_object.get_course_path %}
        <div class="container bg-dark" style="border: 1px solid gray;padding:5px;margin-top: 10px;border-radius : 10px;color:white;"> 
            <p class="h5 text-capitalize"> 
                {{ unit.get_unit_name }}
            </p>
            <hr />
            <p class="h6 text-capitalize"> 
                unit Description : {{ unit.get_unit_des }}
            </p>  
            <p class="h6 text-capitalize">
            </p> 
            <ul> 
                {% for link in unit.get_unit_links %}
                <li> 
                    <a href="{{ link }}" style="color:white;">{{ link }}</a> 
                </li> 
                {% endfor %}
            </ul>
            
            <p class="h6 text-capitalize"> 
                unit outcomes : {{ unit.get_unit_outcomes }}
            </p> 


        </div> 
    {% endfor %}

    <br /> 
    <br /> 
    <br /> 


{% endblock %}